body{
    margin: 0px;
    padding: 0px;
}
body main{
    width: 1320px;
    margin: 0 auto;
}

/* Hero section */

.section{
    background-image: url('../Styles/resources/Banner\ Image.png');
    width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}

.banner{
    color: aliceblue;
    text-align: center;
    
}
.banner h3{
    font-size: 30px;
    padding-top: 210px;
    margin-bottom: 8px;
}
.banner h2{
    font-size: 70px;
    margin-top: 0px;
}
.sqr{
    width: 800px;
    height: 806px;
    text-align: center;
    margin: 0px auto;
    margin-top: 100px;
}
.sqr h2{
    color: red;
    font-size: 75px;
}
.sqr p{
    color: red;
    margin-bottom: 0px;
}
.sqr h3{
    font-size: 40px;
    margin-top: 10px;
}

.banner-2{
    background-image: url('../Styles/resources/Vectorrr.png');
    text-align: left;
    width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    color: aliceblue;
    padding-top: 270px;
}
.banner-2 h2{
    font-size: 70px;
    margin-top: 0px;
    letter-spacing: 8px;
    margin-bottom: 0px;
    padding-left: 170px;
}
.banner-2 p{
    padding-right: 470px;
    padding-left: 170px;
    margin-top: 20px;
    margin-bottom: 40px;
    color: antiquewhite;
    line-height-step: 10px;
}
.banner-2 button{
    color: aliceblue;
    background-color:unset;
    font-size: 18px;
    padding: 5px 10px;
    border: none;
    padding-left: 200px;
}

/* Main section */

.time{
    background-color:cornsilk;
    text-align: center;
    height: 482px;
    width: 1320px;
    margin: 0px auto;
}
.time>div{
    margin: 0px;
    padding: 0px;
    padding-top: 120px;
    font-size: 25px;
    font-weight: 400;
}
.time button{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
}

.offer{
    display: flex;
    margin-top: 100px;
    justify-content: space-around;
    /* gap: 100px; */
}

.offer-des{

}
.offer-des h4{
    color: red;
    font-size: 23px;
    font-weight: 600;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.offer-des h3{
    font-size: 45px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 30px;
    padding-bottom: 0px;
}
.offer-des p{
    padding-right: 50px;
    font-size: 20px;
    line-height: 30px;
}

.offer-pic{
    margin-right: 100px;
    border: 8px solid red;
    border-radius: 50%;
    height: 50%;
}
.offer-pic img{
    padding: 30px;
    width: 300px;
}

.offer-year{

}
.offer-year h3{
    font-weight: 600;
    font-size: 35px;
    color: red;
}
.offer-year{
    font-size: 20px;
    line-height: 30px;
}

.holiday{
    max-height: 986.07px;
    text-align: center;
    margin-top: 200px;
    background-image: url('../Styles/resources/Rectangle\ 2.png');
    background-position: bottom;
    background-repeat: no-repeat;
}
.holiday h4{
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 15px;
}
.holiday h2{
    font-size: 70px;
    margin-top: 0px;
    padding-top: 0px;
}
.holiday p{
    font-size: 19px;
    line-height: 30px;
}
.twopic{
    display:flex;
}
.d50 img{
    width: 500px;
}
.gift{
    margin-bottom: 250px;
    margin-left: 250px;
}
.gift img{
    width: 250px;
}
.pro-con{
    display: flex;
    gap: 15px;
}

#product{
    margin-top: 150px;
}
#product h4{
    color: red;
    font-size: 23px;
    font-weight: 600;
    margin: 0px;
}
#product h2{
    font-size: 45px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 30px;
    padding-bottom: 0px;
}
#product p{
    font-size: 20px;
    line-height: 30px;
}
.subscribe{
    margin-top: 150px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f6e0e0;
    padding-bottom: 50px;
    padding-top: 50px;
}
.subscribe h2{
    font-size: 45px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 30px;
    padding-bottom: 0px;
}
.subscribe p{
    font-size: 20px;
    line-height: 30px;
}
.subscribe form{
    display: flex;
    width: 100%;
    max-width: 400px; /* Adjust width as needed */
    border-radius: 30px;
    overflow: hidden;
    margin-left: 460px;
}

.subscribe form input{
    flex: 1;
    padding: 15px;
    border: none;
    outline: none;
    font-size: 16px;
}
.subscribe form submit{
    padding: 15px;
        border: none;
        background-color: red; /* Green color */
        color: white;
        font-size: 16px;
        cursor: pointer;
}

/* Footer */
footer{
    background-color: black;
    height: 609px;
    color: white;
    margin: 0px;
    padding: 0px;
    margin-top: 120px;
}
.foot-1{
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}
.foot-11{
    margin-left: 100px;
    line-height: 35px;
    margin-top: 100px;
}
.foot-12{
    margin-right: 200px;
    /* line-height: 35px; */
    margin-top: 148px;
}
.foot-121>img{
    width: 20px;
    height: 20px;
    margin-right: 8px;
    margin-bottom: 10px;
}
.foot-121 span{
    font-weight: bold;
    font-size: 18px;
}
.foot-121{
    display: flex;
}
.foot-2{
    justify-items: center;
    margin-top: 50px;
}
.icon-cont img{
    margin-right: 10px;
}

.foot-3{
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}
.foot-31{
    margin-top: 80px;
    margin-left: 100px;
    line-height: 35px;
}
.foot-32{
    margin-top: 80px;
    margin-right: 200px;
}